{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">
    <div class="row">
        <!-- News name background -->
        <h3>Top Headlines</h3>
        {% for article in Articles %}
        

        <div class="col-md-3">
            <div class="thumbnail">
            <a href="{{article.url}}" target="_blank">
            
            <img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
            </a>
            <div class="caption">
                <h3><a href="{{article.url}}" target="_blank">{{article.title | truncate(35)}} </a></h3>
                <p>{{article.content}} | truncate(80)}}</p>
                <a href="{{article.url}}" target="_blank"> Read More</a>

            </div>
            <div class="footer">
                Published at: {{article.publishedAt}}

            </div>
            </div>
        </div>
    
        {% endfor %}
    </div>

</div>
{% endblock %}