{% extends 'base.html'%}
Content block
{% block content %}
<div class="container">

     <!-- News name background -->
        <h3>Top Headlines</h3>
        {% for article in articles | batch(4)%}
        
        <div class="row"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{movie.poster}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <a href="{{Article.url}}" target="_blank">
            
            <img src="{{Article.urlToImage}}" alt="{{Article.title}}" class="img-responsive" styles="height:30px">
            </a>
            <div class="caption">
                <h3><a href="{{Articles.url}}" target="_blank">{{Article.title}} | truncate(35)}}</a></h3>
                <p>{{Article.description}} | truncate(80)}}</p>
                <a href="{{Article.url}}" target="_blank"> Read More</a>

            </div>
            <div class="footer">
                Published at: {{Article.publishedAt}}

            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

</div>
{% endblock %}