{% extends 'base.html'%}
{% import 'macros.html' as macro%}
              <!-- Styles block -->

{% block content%}
<div class="container">

              <!-- Sports News  section  -->
      <h3> Top Sports News</h3>
      <hr>
        {{macro.displaysourcesList(sport)}}
      
      <!-- entertainments News  section  -->
      <h3> Top Entertainments News</h3>
      <hr>
        {{macro.displaysourcesList(entertainment)}} 
    
      <!-- health News  section  -->
      <h3>To Health News</h3>
      <hr>
        {{macro.displaysourcesList(health)}} 
      
      <!-- Technology News  section  -->
      <h3> To Technology News</h3>
      <hr>
        {{macro.displaysourcesList(Technology)}} 
      
      <!-- Science News  section  -->
      <h3>Science News</h3>
      <hr>
        {{macro.displaysourcesList(science)}}
</div>

{% endblock%}