{% macro displaysourcesList(sources_list) %}

    {% for sources-row in sources_list |bacth(4)%}
       <div class="row">
           {% for sources in sources-row%}
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <a href="/sources/{{sources.id}}">
                            {{ sources.name}}
                    </a>
                    </div>
                    <div class="panel-body">
                             <p>
                                 {{ sources.description | truncate(100)}}
                             </p>
                             <a href="/sources/{{sources.id}}" class="btn btn-success btn-sm">Visit {{sources.name}}</a>
                    </div>
               </div>
            {% endfor %}
               
        </div>

    {% endfor %}

{% endmacro %}