{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!--  News name background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{movie.poster}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ sources.title }}</h3>

            <p class="name"> {{ sources.name}}</p>
            <p class="cathegory"> <b> {{ sources.cathegory }}</b> - <i>{{ sources.description}} </i> </p>


        </div>
    </div>

</div>
{% endblock %}